<div class="row">
  <section class="content-header">
    <h1>
      Cadastros
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/home"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Cadastros</li>
    </ol>
  </section>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">CADASTRO DE REDE</h3>
    </div>
    
    <div class="panel-body">
      
      <form action="#" class="form-horizontal">
        <fieldset>
          <legend>Dados Pessoais</legend>
          <div class="form-group">
            <label for="nome" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="nome">
            </div>
          </div>

          <div class="form-group">
            <label for="primeiro-lider" class="col-sm-2 control-label">1º Líder</label>
            <div class="col-sm-4">
              <select class="form-control" name="primeiro-lider" id="primeiro-lider">
                <option value="AMARELA">Null</option>
                <option value="AZUL">Null</option>
                <option value="BRANCA">Null</option>
                <option value="VERMELHA">Null</option>
                <option value="ROXA">Null</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="segundo-lider" class="col-sm-2 control-label">2º Líder</label>
            <div class="col-sm-4">
              <select class="form-control" name="segundo-lider" id="segundo-lider">
                <option value="AMARELA">Null</option>
                <option value="AZUL">Null</option>
                <option value="BRANCA">Null</option>
                <option value="VERMELHA">Null</option>
                <option value="ROXA">Null</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-2"> </div>
            <div class="col-sm-4" align="center">
              <label>Informação Adicional</label>
              <textarea class="form-control" rows="3" placeholder="Entrar ..."></textarea>
            </div>
          </div>
        </fieldset>
        
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Gravar
        </button>
      </form>
    </div>
  </div>
</div>