<div class="row">
  <section class="content-header">
    <h1>
      Listas
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="home"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Listas</li>
    </ol>
  </section>
</div>

<div class="row justify-content-md-center">
  <!-- ./col -->
  <div class="col-md-auto">
    <!-- small box -->
     <div class="small-box bg-yellow">
       <div class="inner" align="center">
         <h3>Listar Células</h3>
        </div>
        <div class="icon">
          <i class="ion ion-ios-home"></i>
        </div>
      <a routerLink="/listacelula" class="small-box-footer">Entrar  <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-md-auto">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner" align="center">
        <h3>Listar Pessoas</h3>
      </div>
      <div class="icon">
        <i class="ion ion-ios-people"></i>
      </div>
      <a routerLink="/cadastrospessoa" class="small-box-footer">Entrar  <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-md-auto">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner" align="center">
        <h3>Listar Palavra</h3>
      </div>
      <div class="icon">
        <i class="ion ion-ios-book"></i>
      </div>
      <a routerLink="/cadastrospalavra" class="small-box-footer">Entrar  <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
    <!-- ./col -->
    <div class="col-md-auto">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner" align="center">
          <h3>Listar Redes</h3>
        </div>
        <div class="icon">
          <i class="ion ion-network"></i>
        </div>
        <a routerLink="/cadastrosrede" class="small-box-footer">Entrar  <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
</div>