<div class="row">
  <section class="content-header">
    <h1>
      Início
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="home"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Principal</li>
    </ol>
  </section>
</div>

<div class="row">
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
     <div class="small-box bg-red">
       <div class="inner">
         <h3>Cadastrar</h3>
         <p>Cadastro de Membros e Usuários</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
      <a routerLink="/cadastros" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>Listar</h3>

        <p>Listar e Consultar Membros</p>
      </div>
      <div class="icon">
        <i class="ion ion-search"></i>
      </div>
      <a routerLink="/listacelula" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-blue">
      <div class="inner">
        <h3>Formulários</h3>

        <p>Registro de Formulários</p>
      </div>
      <div class="icon">
        <i class="ion ion-android-create"></i>
      </div>
      <a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-purple">
      <div class="inner">
        <h3>Gráficos</h3>

        <p>Gráfico de Células por Rede e Ofertas</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>
<!-- /.row -->

<img src="./assets/images/imagem.PNG" class="img-fluid" alt="Responsive image" height="400px" width="1250px">

  