<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENU DE NAVEGAÇÃO</li>
        <li>
            <a routerLink="home" href="#">
              <i class="fa fa-dashboard"></i> <span>Principal</span>
            </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="ion ion-person-add"></i>
            <span>Cadastrar</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li><a routerLink="/cadastroscelula"><i class="fa fa-plus"></i> Células</a></li>
              <li><a routerLink="/cadastrospessoa"><i class="fa fa-plus"></i> Pessoas</a></li>
              <li><a routerLink="/cadastrospalavra"><i class="fa fa-plus"></i> Palavra</a></li>
              <li><a routerLink="/cadastrosrede"><i class="fa fa-plus"></i> Redes</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="ion ion-android-list"></i>
            <span>Listar</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li><a routerLink="/listacelula"><i class="fa fa-plus"></i> Células</a></li>
              <li><a href="pages/charts/morris.html"><i class="fa fa-plus"></i> Pessoas</a></li>
              <li><a href="pages/charts/flot.html"><i class="fa fa-plus"></i> Palavra</a></li>
              <li><a href="pages/charts/inline.html"><i class="fa fa-plus"></i> Redes</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Formulários</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Pré-célula</a></li>
            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Pós-Célula</a></li>
            <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Supervisão</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>Relatórios</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li><a routerLink="/cadastros"><i class="fa fa-plus"></i> Pós-Célula</a></li>
              <li><a href="pages/charts/morris.html"><i class="fa fa-plus"></i> Redes</a></li>
              <li><a href="pages/charts/flot.html"><i class="fa fa-plus"></i> Supervisão</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Gráficos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Células</a></li>
            <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
            <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
            <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>