<mat-icon>home</mat-icon>
<button mat-raised-button color="primary">Primary</button>

<div class="row">
  <section class="content-header">
    <h1>
      Cadastros
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/home"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Cadastros</li>
    </ol>
  </section>
</div>

<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand active" routerLink="/cadastrospessoa">Pessoa</a>
			</div>
			
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>
						<a routerLinkActive="active">Usuário</a>
					</li>
				</ul>
			</div>
		</div>
</nav>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">CADASTRO DE USUÁRIO</h3>
    </div>
    
    <div class="panel-body">
      
      <form action="#" class="form-horizontal">
        <fieldset>
          <legend>Dados Pessoais</legend>
          <div class="form-group">
            <label for="primeiro-lider" class="col-sm-2 control-label">Selecione a pessoa que deseja tornar usuário: </label>
            <div class="col-sm-4">
              <select class="form-control" *ngFor="let celula of celulas | async">
                <option>{{celula.nome}}</option>
              </select>
            </div>
          </div>
        </fieldset>    
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Gravar
        </button>
      </form>
    </div>
  </div>
</div>